
python_env/*
!python_env/lib/python2\.7/site\-packages/pyteomics/*
!python_env/lib/python2\.7/site\-packages/pymzml/run.py*
!python_env/lib/python2\.7/site\-packages/pymzml/obo/*.obo
python3_env/*
\.idea/
logs/*
logs/xi_mzidentml_converter.log
!logs/.gitkeep
.DS_Store
\.directory

credentials.py

*.pyc

test.db
database.ini
kubernetes.yml
Dockerfile
